/**
  COLORS
  color palette
**/

$black: #000000;
$white: #FFFFFF;
$yellow: #FED023;
$lightest-blue: #E4F2FF;
$lighter-blue: #34A1FE;
$light-blue: #33A2FE40;
$darker-blue: #0F1779;
$dark-blue: #0845A7;
$purple: #655DFF;
$gray: #F1F2F4;
$gray1: #00000014;
$gray2: #00000033;
$gray3: #919DAB;
$dark-gray: #151B25;