<div class="container">
  <section class="footer__top">
    <div class="footer__top-logo">
      <img class="footer__top-image" src="./wp-content/themes/amplifyn/assets/img/footer-logo.svg" />
      <h4 class="footer__small-title">Your partner for growth</h4>
    </div>

    <div class="footer__top-sitemap">
      <h3 class="footer__subtitle">Site map</h3>
      <div class="footer__sitemap-wrapper">
        <ul class="footer__sitemap-col">
          <li><a href="#">Home</a></li>
          <li><a href="#">What we do</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
        <ul class="footer__sitemap-col">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Group</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__top-subscribe">
      <h4 class="footer__small-title">Get latest into your inbox</h4>
      <div class="footer__subscribe-form">
        <form class="form">
          <input type="text" class="form-control" placeholder="james@email.com" />
          <button class="button button--small">Subscribe</button>
        </form>
      </div>
    </div>
  </section>

  <section class="footer__bottom">
    <div class="footer__social">
      <a href="{{ options['footer__social-facebook'].url }}">
        <svg>
          <use href="#facebook"/>
        </svg>
      </a>

      <a href="{{ options['footer__social-twitter'].url }}">
        <svg>
          <use href="#twitter"/>
        </svg>
      </a>

      <a href="{{ options['footer__social-youtube'].url }}">
        <svg>
          <use href="#linkedin"/>
        </svg>
      </a>
    </div>

    <div class="footer__bottom-wrapper">
      <div class="footer__claim">
        &copy; Financial Services 2020 . All rights reserved
      </div>

      <div class="footer__terms">
        <ul>
          <li><a class="footer__terms-link" href="#">Terms</a></li>
          <li><a class="footer__terms-link" href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
